{% extends 'studentManagerApp/initial-authentificate.html' %}
{% block content_without_footer %}
<nav>
    <p>2024-2025</p>
    <a href="{% url 'home-page' role=role id=id %}" >Acceuil</a>
    {% if role != "etudiant" %}
        Édition des notes
    {% endif %}
    <a href='#' >Tableau de notes</a>
    <a href='#' >Profil</a>
    <a href='#' >Déconnexion</a>
</nav>
<p>image ou initiale</p>
<p>{{user.nom}}-{{role}}</p>
<h1>Editer les notes</h1>
<form>
    <label>Matière</label>
    <select>
    {% if liste_des_matieres_enseignees %}
    {% for matiere_enseignee in liste_des_matieres_enseignees %}
        <option>{{matiere_enseignee.libelle}}  - Semestre {{matiere_enseignee.semestre}}</option>
    {% endfor %}
    {% else %}
    <option selected disabled> Aucune matière</option>
    {% endif %}
    </select>
</form>

{% endblock %}