{% load static %}
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>StudentManager</title>
        <link rel = "icon" type = "image/png" href = "{% static 'studentManagerApp/Images/favicon.png' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        {% block style %}{% endblock %}
    </head>
    <body>
        {%  block content %}
        {% endblock %}
    </body>
</html>