{% extends 'studentManagerApp/HTML/initial-authentificate.html' %}
{% load static %}
{% load custom_filters %}
{% block content_without_footer %}
<nav>
    <p>2024-2025</p>
    <a href="{% url 'home-page'%}" >Acceuil</a>
    {% if user.role != "etudiant" %}
        Édition des notes
    {% endif %}
    <a href="{% url 'tableau-notes'%}" >Tableau de notes</a>
    <a href="{% url 'stats-page'%}" >Statistiques</a>
    <a href="{% url 'profile-page'%}" >Profil</a>
    <a href="{% url 'log-out'%}" >Déconnexion</a>
</nav>
<p>image ou initiale</p>
<p>{{user.nom}}-{{user.role}}</p>
<h1>Editer les notes</h1>
<form>
    {% csrf_token %}
    <label>Modifier par: </label>
    <select id="types_modification">
        <option selected value="par_matiere">Matière</option>
        <option value="par_etudiant">Étudiant</option>
    </select><br>
    <div id="modification_par_choix">
        {% if liste_des_matieres_enseignees %}
            <label>Matière: </label>
            <select id="liste_des_matieres_enseignees">
            {% if liste_des_matieres_enseignees|length == 1 %}
                {% for matiere_enseignee in liste_des_matieres_enseignees %}
            <option value="{{ matiere_enseignee.matiere_id|escape }}" selected>{{ matiere_enseignee.libelle|escape }} - Semestre {{ matiere_enseignee.semestre|escape }}</option>
                {% endfor %}
            {% else %}
            <option value="" disabled selected>Selectionnez une matière</option>
                {% for matiere_enseignee in liste_des_matieres_enseignees %}
            <option value="{{ matiere_enseignee.matiere_id|escape }}">{{ matiere_enseignee.libelle|escape }} - Semestre {{ matiere_enseignee.semestre|escape }}</option>
                {% endfor %}
            {% endif %}
            </select><br>
            <label>Type d'évaluation: </label>
            {% if user.role == "administrateur" %}
            <select id="types_evaluation">
                <option value="" disabled selected>Selectionnez un type d'évaluation</option>
                <option value="CC">Contrôle Continu (CC)</option>
                <option value="SN">Session Normale (SN)</option>
            </select>
            {% else %}
            <select id="types_evaluation" disabled>
                <option value="CC" selected>Contrôle Continu (CC)</option>
            </select>
            {% endif %}
            <div id="notes_de_la_matiere_selectionnee"> Sélectionnez une matière et un type d'évaluation pour afficher les notes des étudiants </div>
        {% else %}
        <p>Aucune matière</p>
        {% endif %}
    </div>
</form>
{{ notesData|json_script:"notesData" }}
<script src = "{% static 'studentManagerApp/JS/edit-page.js' %}"></script>
{% endblock %}