{% extends 'studentManagerApp/HTML/page-structure.html' %}
{% load static %}
{% block title %}
    <h1><i class="fas fa-edit"></i>Édition des notes</h1>
    <p>Modifiez les notes de vos étudiants en toute simplicité</p>
{% endblock title %}
{% block trueBody %}
<form>
    {% csrf_token %}
    <label>Modifier par: </label>
    <select id="types_modification">
        <option selected value="par_matiere">Matière</option>
        <option value="par_etudiant">Étudiant</option>
    </select><br>
    <div id="modification_par_choix">
        {% if liste_des_matieres_enseignees %}
            <label>Matière: </label>
            <select id="liste_des_matieres_enseignees">
            {% if liste_des_matieres_enseignees|length == 1 %}
                {% for matiere_enseignee in liste_des_matieres_enseignees %}
            <option value="{{ matiere_enseignee.matiere_id|escape }}" selected>{{ matiere_enseignee.libelle|escape }} - Semestre {{ matiere_enseignee.semestre|escape }}</option>
                {% endfor %}
            {% else %}
            <option value="" disabled selected>Selectionnez une matière</option>
                {% for matiere_enseignee in liste_des_matieres_enseignees %}
            <option value="{{ matiere_enseignee.matiere_id|escape }}">{{ matiere_enseignee.libelle|escape }} - Semestre {{ matiere_enseignee.semestre|escape }}</option>
                {% endfor %}
            {% endif %}
            </select><br>
            <label>Type d'évaluation: </label>
            {% if user.role == "administrateur" %}
            <select id="types_evaluation">
                <option value="" disabled selected>Selectionnez un type d'évaluation</option>
                <option value="CC">Contrôle Continu (CC)</option>
                <option value="SN">Session Normale (SN)</option>
            </select>
            {% else %}
            <select id="types_evaluation" disabled>
                <option value="CC" selected>Contrôle Continu (CC)</option>
            </select>
            {% endif %}
            <div id="notes_de_la_matiere_selectionnee"> Sélectionnez une matière et un type d'évaluation pour afficher les notes des étudiants </div>
        {% else %}
        <p>Aucune matière</p>
        {% endif %}
    </div>
</form>
{{ notesData|json_script:"notesData" }}
{% endblock %}
{% block script %}<script src = "{% static 'studentManagerApp/JS/edit-page.js' %}"></script>{% endblock %}