{% extends 'studentManagerApp/HTML/initial-authentificate.html' %}
{% block content_without_footer %}
<nav>
    <p>2024-2025</p>
    Acceuil
    {% if user.role != "etudiant" %}
        <a href="{% url 'edit-page'%}" >Édition des notes</a>
    {% endif %}
    <a href="{% url 'tableau-notes'%}" >Tableau de notes</a>
    <a href="{% url 'stats-page'%}" >Statistiques</a>
    <a href="{% url 'profile-page'%}" >Profil</a>
    <a href="{% url 'log-out' %}" >Déconnexion</a>
</nav>
<p>image ou initiale</p>
<p>{{user.nom}}-{{user.role}}</p>
<h1>acceuil</h1>
IME is the best school of all the time
{% endblock %}