{% extends 'studentManagerApp/HTML/base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'studentManagerApp/CSS/log-in.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}
{% block content%}
<div class="login-container">
    <div class="login-brand">
        <img src="{% static "studentManagerApp/Images/logoIME.png" %}" alt="Le logo  de l'IME">
        <h1><span class="Student1">StudenT</span><i class="fas fa-graduation-cap"></i><span><span class="Student2">StudenT</span>ManageR</span></h1>
        <p>Gérez efficacement les notes et le parcours académique de vos étudiants</p>
    </div>
    <div class="login-form">
        <h2>🔐 Connexion</h2>
        <form method="post">
            {% csrf_token %}
            <div class = "form-group">
                <label for="{{ form.nom.id_for_label }}">{{ form.nom.label }} :</label>
                <div class = "input-with-icon">
                    <i class = "fas fa-user"></i>
                    {{ form.nom }}
                </div>
                {% if form.nom.errors %}
                    <div class="error-messages">
                        {% for error in form.nom.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class = "form-group">
                <label for="{{ form.password.id_for_label }}">{{ form.password.label }} :</label>
                <div class = "input-with-icon">
                    <i class = "fas fa-lock"></i>
                    {{ form.password }}
                </div>
                {% if form.password.errors %}
                    <div class="error-messages">
                        {% for error in form.password.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class = "form-group">
                <label for="{{ form.role.id_for_label }}">{{ form.role.label }} :</label>
                <div class = "input-with-icon">
                    <i class = "fas fa-user-tag"></i>
                    <select name="{{ form.role.name }}" id="{{ form.role.auto_id }}" required>
                        <option value="" disabled selected>--Sélectionnez votre rôle--</option>
                        {% for value, label in form.role.field.choices %}
                            <option value="{{ value }}" class="role">{{ label }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% if form.role.errors %}
                    <div class="error-messages">
                        {% for error in form.role.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            {% if messages %}
            <div class="messages-error" id="messages-error">  
                    {% for message in messages %}
                        <div class="error_block">
                            <div class="error_icon">
                                <svg viewBox="0 0 60 60" width="60" height="60">
                                <polygon points="20.0,10.0 10.0,30 20.0,50.0 40.0,50.0 50.0,30 40.0,10.0" fill="white" />
                                <line x1="22.5" y1="22.5" x2="37.5" y2="37.5" stroke="red" stroke-width="4" />
                                <line x1="22.5" y1="37.5" x2="37.5" y2="22.5" stroke="red" stroke-width="4" />
                                </svg>
                            </div>
                            <div class="error_text">{{ message }}</div>
                        </div>
                    {% endfor %}  
            </div>
            {% endif %}
            <div class="button-group">
                <input type="submit" value="Se connecter" class="btn btn-primary">
                <input type="reset" value="Réinitialiser" class="btn btn-secondary">
            </div>
        </form>
        <a href="https://www.flaticon.com/free-icons/student" title="student icons" class="reference">Student icons created by Freepik - Flaticon</a>
        <p class="copyright">StudentManageR © 2025 - Tous droits réservés</p>
    </div>
</div>
<script>
    const popup = document.getElementById("messages-error");
    popup.classList.add("show");
    setTimeout(function () {
        popup.classList.remove("show");
    }, 3000);
</script>
{% endblock %}