{% extends 'studentManagerApp/HTML/page-structure.html' %}
{% block title %}
    <h1><i class="fas fa-user"></i>Profil</h1>
    <p>Consulter et/ou modifier votre profil</p>
{% endblock title %}
{% block trueBody %}
<table>
    {% if user.role == "etudiant" %}
        <tr><td>Matricule</td><td><strong>{{ user.matricule }}</strong></td></tr>
        <tr><td>Nom(s) et Prénom(s)</td><td><strong>{{ user.nom }} {{ user.prenom }}</strong></td></tr>
        <tr><td>Né le</td><td><strong>{{ user.dateNaiss }}</strong></td></tr>
    {% elif user.role == "enseignant" %}
        <tr><td>Nom(s) et Prénom(s)<td><td><strong>{{ user.nom }}{% if user.prenom %} {{ user.prenom }} {% endif %}</strong></td></tr>
    {% elif user.role == "administrateur" %}
        <tr><td>Nom(s) et Pénom(s)</td><td><strong>{{ user.nom }} {% if user.prenom %} {{ user.prenom }} {% endif %}</strong></td></tr>
        <tr><td>Poste</td><td><strong>{{ user.poste}}</strong></td></tr>
    {% endif %}
</table>
{% endblock %}