{% extends 'studentManagerApp/HTML/initial-authentificate.html' %}
{% block content_without_footer %}
<nav>
    <p>2024-2025</p>
    <a href="{% url 'home-page'%}" >Acceuil</a>
    {% if user.role != "etudiant" %}
        <a href="{% url 'edit-page'%}" >Édition des notes</a>
    {% endif %}
    <a href="{% url 'tableau-notes'%}" >Tableau de notes</a>
    Statistiques
    <a href="{% url 'profile-page'%}" >Profil</a>
    <a href="{% url 'log-out'%}" >Déconnexion</a>
</nav>
<p>image ou initiale</p>
<p>{{user.nom}}-{{user.role}}</p>
<h1>Statistiques</h1>
nombre total d'étudiants : {{statistics.nombre_etudiants}}<br>
nombre total de matières du semestre 1: {{statistics.nombre_matieres1}}<br>
nombre total de matières du semestre 2: {{statistics.nombre_matieres2}}<br>
nombre total d'enseignant: {{statistics.nombre_enseignants}}
{% endblock %}