{% extends 'studentManagerApp/HTML/page-structure.html' %}
{% block title %}
    <h1><i class="fas fa-chart-line"></i>Statistiques</h1>
    {% if user.role == "etudiant" %}
        <p>Aies une vision générale des notes de ta classe</p>
    {% else %}
        <p>Ayez une vision générale des notes de vos étudiants</p>
    {% endif %}
{% endblock title %}
{% block trueBody %}
nombre total d'étudiants : {{statistics.nombre_etudiants}}<br>
nombre total de matières du semestre 1: {{statistics.nombre_matieres1}}<br>
nombre total de matières du semestre 2: {{statistics.nombre_matieres2}}<br>
nombre total d'enseignant: {{statistics.nombre_enseignants}}
{% endblock %}