{% extends 'studentManagerApp/HTML/initial-authentificate.html' %}
{% load custom_filters %}
{% block content_without_footer %}
<nav>
    <p>2024-2025</p>
    <a href="{% url 'home-page' role=user.role id=user.id %}" >Acceuil</a>
    {% if user.role != "etudiant" %}
        <a href="{% url 'edit-page' role=user.role id=user.id %}"> Édition des notes</a>
    {% endif %}
    Tableau de notes
    <a href="{% url 'profile-page' role=user.role id=user.id %}" >Profil</a>
    <a href="{% url 'log-out' %}" >Déconnexion</a>
</nav>
<p>image ou initiale</p>
<p>{{user.nom}}-{{user.role}}</p>
<h1>tableau de note</h1>
{% if user.role == "etudiant" %}
    <table>
    <tr><td>Matricule</td><td><strong>{{user.matricule}}</strong><td></tr>
    <tr><td>Nom(s) et Prénom(s)</td><td><strong>{{user.nom}} {{user.prenom}}</strong><td></tr>
    <tr><td>Né le</td><td><strong>{{user.dateNaiss}}</strong><td></tr>
    </table>
    <table border="1">
        <tr>
            <th>Matière</th>
            <th>Crédit affectée</th>
            <th>Controle Continu</th>
            <th>Session Normale</th>
            <th>Moyenne</th>
            <th>Grade</th>
            <th>Décision</th>
        </tr>
        {% for matiere in matieres %}
            <tr>
                {% with note_cc=notes.CC|get_index:forloop.counter0 note_sn=notes.SN|get_index:forloop.counter0 %}
                {% with moy=note_sn|get_final_note:note_cc %}
                {% with grade=moy|get_grade %}
                {% with decision=moy|get_decision %}
                    <td>{{ matiere.libelle }}</td>
                    <td>{{ matiere.nbre_credit }}</td>  
                    <td>{% if note_cc %}{{note_cc}}{% endif %}</td>
                    <td>{% if note_sn %}{{note_sn}}{% endif %}</td>
                    <td>{% if moy %}{{moy}}{% endif %} </td>
                    <td>{% if grade %}{{grade}}{% endif %} </td>
                    <td>{% if decision %}{{decision}}{% endif %} </td>
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
            </tr>
        {% endfor %}
    </table>
{% elif user.role == "administrateur" or  user.role == "enseignant" %}
    <table border = "1">
        <tr>
            <th rowspan='2' >Nom(s) et Prénom(s)</th>
            {% for  matiere in matieres %}
                <th colspan={% if user.role == "administrateur" %}'5'{% else %}'1'{% endif %} >{{matiere.libelle}} {{matiere.semestre}}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for matiere in matieres %}
                <th>CC</th>
                {% if user.role == "administrateur" %}
                    <th>SN</th>
                    <th>MOY</th>
                    <th>CR</th>
                    <th>DEC</th>
                {% endif %}
            {% endfor %}
        </tr>
        {% for etudiant in etudiants %}
            <tr>
                <td>{{etudiant.nom}} {{etudiant.prenom}}</td>
                {% for matiere in matieres %}
                    {% with cc_note=notes.CC|get_index:forloop.counter0|get_index:forloop.parentloop.counter0 %}
                    {% with sn_note=notes.SN|get_index:forloop.counter0|get_index:forloop.parentloop.counter0 %}
                    {% with moy=sn_note|get_final_note:cc_note %}
                    {% with credit=matiere.nbre_credit %}
                    {% with decision=moy|get_decision %}
                        <td>{% if cc_note %}{{cc_note}}{% endif %}</td>
                        {% if user.role == "administrateur" %}
                            <td>{% if sn_note %}{{sn_note}}{% endif %}</td>
                            <td>{% if moy %}{{moy}}{% endif %}</td>
                            <td>{{credit}}</td>
                            <td>{% if decision %}{{decision}}{% endif %}</td>
                        {% endif %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endif %}
{% endblock %}